/* Push button control CSS for the MB-HMI demo.
	This contains the CSS which controls various types of push buttons.
*/

/* The following style is used to animate SVG push buttons. It causes the 
	outline (stroke) of the button to reverse when activated. */

/*  Regular push buttons. */
.buttonactivate {
	stroke: black;
	stroke-width: 5px;
}

.buttonactivate:hover {
	stroke: black;
	stroke-width: 7px;
}

.buttonactivate:active {
	stroke: white;
	stroke-width: 5px;
}

/* Selector switches. */
.sswitchactivate {
	stroke: black;
	stroke-width: 2px;
}

.sswitchactivate:hover {
	stroke: black;
	stroke-width: 3px;
}

.sswitchactivate:active {
	stroke: white;
	stroke-width: 4px;
}


/* Small triangular buttons. */
.tributton {
	stroke: black;
}

.tributton:hover {
	stroke: black;
}

.tributton:active {
	stroke: white;
}


/* This controls the appearance of HTML buttons. */
.buttonstyles {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-style: italic;
	color: white;
	background-color: grey;
	padding: 2px;
	height: 50px;
	border: 5px solid black; 
}

.buttonstyles:hover {
	background-color: lightgrey;
}

.buttonstyles:active {
	background-color: white;
	color: black;
	border: 5px solid white;
}

