
/* These set up the pages in columns. */
#helpnav {
	float:left;
	width:200px;
	margin:0 auto;
	background:whitesmoke;
	}

#datadisplay {
	float:right;
	padding:5px;
	width:790px;
	margin:0 auto;
	background:whitesmoke;
	}

#datadisplay h2, #datadisplay h3, #datadisplay p {
	padding:0px 10px;
	}


/* This controls the appearance of examples. */
.examples {
	background-color:#CCCCCC
	}

/* This controls the appearance of tables in the help pages. */
.helptable {
	border-collapse: separate;
	border-spacing: 5px 5px
	}
/* This controls the cell padding. */
.helptable td {
	padding: 5px
	}
/* This controls the padding for table headings. */
.helptable th {
	padding: 5px
	}

