
/* This controls display of the main screen. */
#datadisplay {
	padding:5px;
	background:white;
	width:1000px;
	}

#datadisplay h2, #datadisplay h3, #datadisplay p {
	padding:0px 10px;
	}


/* This controls the appearance of examples. */
.examples {
	background-color:#CCCCCC
	}


/* This controls the appearance of tables in the help pages. */
.helptable {
	border-collapse: separate;
	border-spacing: 5px 5px
	}
/* This controls the cell padding. */
.helptable td {
	padding: 5px
	}
/* This controls the padding for table headings. */
.helptable th {
	padding: 5px
	}



/* This controls display of the main screen. */
#datadisplay {
	padding:0px;
	background:antiquewhite;
	width:1000px;
	}

#datadisplay h2, #datadisplay h3, #datadisplay p {
	padding:0px 10px;
	}


/* This controls the appearance of tables that need visible
	borders between each item. */
.displaytable {
	border-collapse: separate;
	border-spacing: 1px 1px;

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;

	}
/* This controls the cell padding. */
.displaytable td {
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	}


.displaytable td.t1 {
	background:lightcyan;
}
.displaytable td.t2 {
	background:aquamarine;
}


/* This is used to look like a heading */
.displaytable td.theadstyle {
	background:lightseagreen;
}

.displaytable th {
	background:lightseagreen;
	padding: 5px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	}

.displaytable tr {
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


/* This is used to indicate fault conditions. */
#statusfault {
	background-color:red;
	}
/* This is used to indicate a condition may have a problem. */
#statusalert {
	background-color:yellow;
	}

/* This is used to indicate a condition is OK. */
#statusok {
	background-color:green;
	}


/* This is used to indicate fault conditions. */
.statusfault {
	background-color:red;
	}
/* This is used to indicate a condition may have a problem. */
.statusalert {
	background-color:yellow;
	}

/* This is used to indicate a condition is OK. */
.statusok {
	background-color:green;
	}

/* These set up the system status pages in columns. */
.systemlcolumn {
	float:left;
	width:500px;
	margin:auto;
	padding-left:25px;
	}

.systemrcolumn {
	float:right;
	padding:5px;
	width:350px;
	margin:auto;
	}

/* This clears the columns. */
.systemclear {
	clear:both;
	}


/* These are used to show or hide areas of pages. */
.datashow {display:block}
.datahide {display:none}


/* This is used to display lists of errors. */

.errortable {
	background:coral;
	border-spacing: 0px 0px;
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}


/* Control buttons. */
.controlbuttons {
	font-size: 150%;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	}


/* Shutdown confirmation overlay. */
.shutdownmask {
	padding:16px;
	background-color:grey;
	border:2px solid grey;
	opacity:0.5;
}
/* Background for shutdown buttons. */
.shutdownbuttonback {
	background-color:white;
	border:2px solid black;
	opacity:1.0;
}

/* Provides padding for shutdown buttons. */
.shutdownbuttonpad {
	padding:15px;
}

/* Shutdown buttons. */
.shutdownbuttons {
	font-size: 150%;
	color:black;
	font-weight:600;
	border-spacing: 50px 50px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	opacity:1.0;
	}

