/* Page layout CSS for the MB-HMI demo. 
	This contains the CSS which controls the overall page layout
	and appearance. The settings here are generic and usually don't
	have to be changed unless you want to adjust some minor details.

	2008 - 2010 M. Griffin
*/



/* This is the main HTML navigation menu for menus which run vertically down
	the left side. The menu background is expected to be inhereted from 
	whatever existing style is in effect.
*/
#MBT_HTMLNavSide {
	font-size: 150%; 
	float:left;
	width:100px;
	margin:5px;
	}

#MBT_HTMLNavSide ul	{
	margin: 0;
	padding: 0;
	list-style-type: none;
	}

#MBT_HTMLNavSide a	{
	display: block;
 	text-decoration:underline;
	color: black;
	background-color:cadetblue;
	width: 100px;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:7px;
	padding-right:5px; 
	border-left:2px solid white;
	border-right:2px solid white;
	border-top:2px solid white;
	border-bottom:2px solid white;

	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;

	}
#MBT_HTMLNavSide a:hover {
	background-color:darkcyan
	}

/* This is the main HTML navigation menu for menus which run horizontally
	across the top. The menu background is expected to be inhereted from 
	whatever existing style is in effect.
*/

#MBT_HTMLNavTop {
	background:aqua;
	font-size: 115%;
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:5px;
	font-family: Verdana, sans-serif;
	}
#MBT_HTMLNavTop ul{
	padding-top:2px;
	padding-bottom:15px;
	list-style:none;
	}
#MBT_HTMLNavTop li{
	display:inline;
	}

#MBT_HTMLNavTop a {
	float:left;
	text-decoration:underline;
	color:black;
	background-color:cadetblue;
	border-right:3px solid aqua;
	border-top:3px solid aqua;
	border-left:3px solid aqua;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	padding-right:15px;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-left-radius: 20px;
	-webkit-border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	}

#MBT_HTMLNavTop a:hover {
	background-color:darkcyan;
	}






/* This provides a filler strip at the bottom of the main display area. */
#MBT_HTMLFooter {
	clear:both;
	}
#MBT_HTMLFooter p {
	padding:5px;
	margin:0px;
	}


/* The following control the display of the standard HTML screens. */

/* This controls display of the main screen. */
#MBT_SVGScreen {
	display: block;
	}

/* This controls display of the events screen. */
#MBT_EventsScreen {
	display: none;
	}

/* This controls display of the alarms screen. */
#MBT_AlarmsScreen {
	display: none;
	}

/* This controls display of the system status screen. */
#MBT_SystemStatusScreen {
	display: none;
	}

/* This is the help screen. */
#MBT_HelpScreen {
	display: none;
	}


