# MB-HMI config file.
# 08-Feb-2010.
# This is for demo purposes only. 
# Modbus version.

# This version allows for the special simulator by using only coils
# and holding registers.

# Client page(s) version.
[clientversion]
ver=Ver 0.80 Demo

# Server ID.
[serverid]
id=HMIServer demo server

#########################################################

# Push buttons.
[PB1]
addrtype=coil
memaddr=0

[PB2]
addrtype=coil
memaddr=1

[PB3]
addrtype=coil
memaddr=2

[PB4]
addrtype=holdingreg
memaddr=5000
datatype=integer
range=0, 6
scale=0, 1

[PB5]
addrtype=coil
memaddr=3


#########################################################

# Pilot lights.
[PL1]
addrtype=coil
memaddr=16

[PL2]
addrtype=coil
memaddr=17

[PL3]
addrtype=coil
memaddr=18


[PL4]
addrtype=holdingreg
memaddr=5001
datatype=integer
range=0, 6
scale=0, 1

# This demonstrates a tag using a register.
[PLInpReg]
addrtype=holdingreg
memaddr=6001
datatype=integer
range=0, 6
scale=0, 1



#########################################################

# Pick and place selector switches.

[SSPPVert]
addrtype=coil
memaddr=4

[SSPPHorz]
addrtype=coil
memaddr=5

[SSPPGrip]
addrtype=coil
memaddr=6

# Pick and place position.

[PPVert]
addrtype=coil
memaddr=20

[PPHorz]
addrtype=coil
memaddr=21

[PPGrip]
addrtype=coil
memaddr=22


#########################################################

# Tank level readings.
[Tank1Level]
addrtype=holdingreg
memaddr=5002
datatype=integer
# range=0, 100
scale=0, 1

# Tank level numeric readings.
[Tank1Number]
addrtype=holdingreg
memaddr=5002
datatype=float
range=0, 250
scale=0, 2.5

[Tank2Level]
addrtype=holdingreg
memaddr=5003
datatype=integer
range=0, 100
scale=0, 1

[Tank2Number]
addrtype=holdingreg
memaddr=5003
datatype=float
range=0, 250
scale=0, 2.5


# Pump speed command.
[PumpSpeedCmd]
addrtype=holdingreg
memaddr=5004
datatype=integer
scale = 0, 1


# Pump speed reading.
[PumpSpeedActual]
addrtype=holdingreg
memaddr=5005
datatype=integer
scale = 0, 1

# Raw value for pump speed.
[PumpSpeedRaw]
addrtype=holdingreg
memaddr=5006
datatype=integer
range = -32768, 32767
scale = 0, 1

#########################################################


# Shape select demo.

[ShapeDemo]
addrtype=holdingreg
memaddr=5016
datatype=integer
range = -1, 1

# Button enable/disable demo.
[ButtonDisSS]
addrtype=coil
memaddr=32

[ButtonDisPB]
addrtype=coil
memaddr=33


#########################################################

# Animation tests.
[SSAni1]
addrtype=coil
memaddr=34

[PLAN1]
addrtype=coil
memaddr=34

[PumpAni1]
addrtype=coil
memaddr=34



#########################################################

# Strip charts.
[StripChart1]
addrtype=holdingreg
memaddr=5010
datatype=integer

[StripChart2]
addrtype=holdingreg
memaddr=5011
datatype=integer

#########################################################

# Event definitions.
[&events]
base=32300
0=PumpRunning, zone3
1=PumpStopped, zone3
2=Tank1Empty, zone1
3=Tank1Full, zone1, zone2
4=Tank2Empty, zone2
5=Tank2Full, zone2


#########################################################

# Alarm definitions.
# We are using the push buttons as triggers for testing purposes.
[&alarms]
base=32400
0=PB1Alarm, zone1
1=PB2Alarm, zone2
2=PB3Alarm, zone3


#########################################################

# Test the new data types.
[Int32Demo]
addrtype=holdingreg32
memaddr=20000
datatype=integer
range = -2147483648, 2147483647
scale = 0, 1


[Float32Demo]
addrtype=holdingregfloat
memaddr=20010
datatype=float
range = -2147483648, 2147483647
scale = 0, 1


[Float64Demo]
addrtype=holdingregdouble
memaddr=20020
datatype=float
range = -2147483648, 2147483647
scale = 0, 1


[PackedStrDemo]
addrtype=holdingregstr8
memaddr=20030
datatype=string
strlen=10

[SparseStrDemo]
addrtype=holdingregstr16
memaddr=20040
datatype=string
strlen=14


